################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ceshi/v16
/Solution1/.vs/Solution1/v16
